---
---

@import "{{ site.theme }}";

code.language-plaintext.highlighter-rouge {
  padding: 0.2em 0.4em !important;
  margin: 0 !important;
  font-size: 85%;
  white-space: break-spaces !important;
  background-color: #f0f1f2; //var(--bgColor-neutral-muted, var(--color-neutral-muted))!important;
  border-radius: 6px !important;
}

/* copy code */
pre.highlight > button {
  opacity: 0;
}

pre.highlight:hover > button {
  opacity: 1;
}

pre.highlight > button:active,
pre.highlight > button:focus {
  opacity: 1;
}

pre.highlight > button {
  background-color: rgba(grey, 0.9);
  color: rgba(white, 0.9);
  position: fixed;
}
