---
---
@import "{{ site.theme }}";

code.language-plaintext.highlighter-rouge {
    padding: .2em .4em!important;
    margin: 0!important;
    font-size: 85%;
    white-space: break-spaces!important;
    background-color: #F0F1F2;//var(--bgColor-neutral-muted, var(--color-neutral-muted))!important;
    border-radius: 6px!important;
}

/* copy code */
pre.highlight {
    .copy {
        color: $text-color;
        position: absolute;
        right: 1rem;
        top: 1rem;
        opacity: 20%;
        background:  $primary-color;
    }

    &:active .copy,
    &:focus .copy,
    &:hover .copy {
      opacity: 1;
    }
}
